@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-slate.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapOverwrite.css" />
</head>

<body class="rsrBody">

    <h1>RESOURCES NEAR YOU!</h1>

    <section class="clthRsrsContainer">


        <div class="cardRsrs">
            <div id="rsrClthBtn3" class="d-grid gap-2">
                <a class="btn btn-lg btn-primary rsrClthBtns" asp-area="" asp-controller="Resources" asp-action="TriftShopMap" style="padding-top: 1rem;">Thrift Stores <img class="btnImages" src="~/Images/SourcesImages/resourcesicon_thriftstore-02.png" /> </a>
            </div>
        </div>

        <div id="rsrClthBtn1" class="d-grid gap-2">
            <a class="btn btn-lg btn-primary rsrClthBtns" asp-area="" asp-controller="Resources" asp-action="" style="padding-top: 1rem;">Shopping Centres <img class="btnImages" src="~/Images/SourcesImages/resourceicon_shopping_centre-11.png" /> </a>
        </div>


    </section>



</body>