@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-slate.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapOverwrite.css" />
</head>

<body class="rsrBody">

    <h1>RESOURCES NEAR YOU!</h1>

    <section class="govRsrsContainer">


        <div class="cardRsrs">
            <div id="rsrGovBtn3" class="d-grid gap-2">
                <a class="btn btn-lg btn-primary rsrGovBtns" asp-area="" asp-controller="Resources" asp-action="PrintingResources" style="padding-top: 3rem;">Canada Post</a>
            </div>
        </div>

        <div id="rsrGovBtn1" class="d-grid gap-2">
            <a class="btn btn-lg btn-primary rsrGovBtns" asp-area="" asp-controller="Resources" asp-action="GovernmentResources">Service Canada</a>
        </div>

        <div id="rsrGovBtn2" class="d-grid gap-2">
            <a class="btn btn-lg btn-primary rsrGovBtns" asp-area="" asp-controller="Resources" asp-action="HealthResources">Service Ontario</a>
        </div>

        <div id="rsrGovBtn4" class="d-grid gap-2">
            <a class="btn btn-lg btn-primary rsrGovBtns" asp-area="" asp-controller="Resources" asp-action="ClothingResources" style="padding-top: 3rem;">City Office</a>
        </div>



    </section>




</body>