@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-slate.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapOverwrite.css" />
</head>

<body class="rsrBody">

    <h1 id="rsrIndxTitle">What are you Looking For?</h1>

    <section class="rsrIndxContainer">

        <div class="cardRsrs">
            <div id="rsrIndxBtn3" class="d-grid gap-2">
                <a class="btn btn-lg btn-primary rsrIndxBtns" asp-area="" asp-controller="Resources" asp-action="PrintingResources">Printing and Supplies <img class="btnImages" src="~/Images/SourcesImages/resourcesicon_printingandsupplies.png" /> </a>
            </div>
        </div>

        <div id="rsrIndxBtn1" class="d-grid gap-2">
            <a class="btn btn-lg btn-primary rsrIndxBtns" asp-area="" asp-controller="Resources" asp-action="GovernmentResources" style="padding-top: 3rem;" >Government <img class="btnImages" src="~/Images/SourcesImages/resourcesicon_governmentservices.png" /> </a>
        </div>

        <div id="rsrIndxBtn2" class="d-grid gap-2">
            <a class="btn btn-lg btn-primary rsrIndxBtns" asp-area="" asp-controller="Resources" asp-action="HealthResources">Health Services <img class="btnImages" src="~/Images/SourcesImages/resourcesicon_healthservices.png" /> </a>
        </div>

        <div id="rsrIndxBtn4" class="d-grid gap-2">
            <a class="btn btn-lg btn-primary rsrIndxBtns" asp-area="" asp-controller="Resources" asp-action="ClothingResources" style="padding-top: 5rem;">Clothing <img class="btnImages" src="~/Images/SourcesImages/resourceicon_clothing-04.png" /> </a>
        </div>

    </section>
    


</body>