@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-slate.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapOverwrite.css" />
</head>

<body class="rsrBody">
    <h1>RESOURCES NEAR YOU!</h1>

    <section class="prntRsrsContainer">


        <div class="cardRsrs">
            <div id="rsrPrntBtn3" class="d-grid gap-2">
                <a class="btn btn-lg btn-primary rsrPrntBtns" asp-area="" asp-controller="Resources" asp-action="" style="padding-top: 3rem;">Printing <img class="btnImages" src="~/Images/SourcesImages/resourcesicon_printing.png" /> </a>
            </div>
        </div>

        <div id="rsrPrntBtn1" class="d-grid gap-2">
            <a class="btn btn-lg btn-primary rsrPrntBtns" asp-area="" asp-controller="Resources" asp-action="" style="padding-top: 0rem;">Office Supplies <img class="btnImages" src="~/Images/SourcesImages/resourcesicon_officesupplies.png" /> </a>
        </div>

        <div id="rsrPrntBtn2" class="d-grid gap-2">
            <a class="btn btn-lg btn-primary rsrPrntBtns" asp-area="" asp-controller="Resources" asp-action="" style="padding-top: 0rem;">Technology <img class="btnImages" src="~/Images/SourcesImages/resourcesicon_tecjnology.png" /> </a>
        </div>


    </section>



</body>