
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-slate.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapOverwrite.css" />
</head>
<body class="sfBody">
    <h1>Feeling Hungry?</h1>
    <div class="container-fluid">
        <div class="row row-sfmain">
            <div class="col-md-5">
             <a class="btn btn-lg btn-primary sfButton label-btn" type="button" asp-area="" asp-controller="saveOnFood" asp-action="sfRecipes"><p>Cheap And Easy Recipes!</p></a>
            </div>
            <div class="col-md-7">
                <p class="ptext">Starting to cook on your own can be a challenge, so we provided a list of easy to cook
                 meals to help! We're aware some people may not have to a lot of kitchenware, so these
                 recipes work around that.
                </p>
            </div>
        </div>
        <div class="row row-sfmain">
            <div class="col-md-7">
                <p class="ptext">
                 We know what it’s like to be a newcomer to a new place, and finding different ethnic shops to make 
                 meals that remind you of home can be difficult. We made it easy, here we have a directory of different 
                 ethnic grocery shops in your area for you!
                </p>
            </div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary sfButton label-btn" type="button"  asp-area="" asp-controller="saveOnFood" asp-action="sfDir">Find Different Grocery Stores!</a>
            </div>
        </div>
    </div>
   
</body>