
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-slate.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapOverwrite.css" />    
</head>
<body class="sfBody">
    <h1 class="label-title">Grocery Directory:</h1>
    <div class="row row-space">
        <div class="col-md-3 loc-dir col-space card-type mt-3">
            <a asp-area="" asp-controller="saveOnFood" asp-action="sfRecipes">
            <h2 class="food-dir">North Asian</h2>
            <div class="img-type"></div>
            </a>
        </div>
        <div class="col-md-3 loc-dir col-space card-type mt-3">
            <h2 class="food-dir">Middle Eastern</h2>
            <div class="img-type"></div>
        </div>
        <div class="col-md-3 loc-dir col-space card-type mt-3">
            <h2 class="food-dir">North American</h2>
            <div class="img-type"></div>
        </div>
        <div class="col-md-3 loc-dir col-space card-type mt-3">
            <h2 class="food-dir">European</h2>
            <div class="img-type"></div>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-md-3 loc-dir col-space card-type mt-3">
            <h2 class="food-dir">South Asian</h2>
            <div class="img-type"></div>
        </div>
        <div class="col-md-3 loc-dir col-space card-type mt-3">
            <h2 class="food-dir">Oceania</h2>
            <div class="img-type"></div>
        </div>
        <div class="col-md-3 loc-dir col-space card-type mt-3">
            <h2 class="food-dir">Latin American</h2>
            <div class="img-type"></div>
        </div>
        <div class="col-md-3 loc-dir col-space card-type mt-3">
            <h2 class="food-dir">African</h2>
            <div class="img-type"></div>
        </div>
    </div>
</body>
