
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-slate.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapOverwrite.css" />
</head>
<body class="sfBody">
        <div class="container-fluid">
            <div class="row row-recipes row-space">
                <div class="col-md-3"><img src="~/Images/fried_rice_icon_recipes.jpeg" width="300px"/></div>
                <div class="col-md-3">
                    <h2>Egg Fried Rice</h2>
                    <p>Region: Asia</p>
                    <p>Cooking time: 15 minutes</p>
                    <p>Appliance(s): Stove</p>
                    <p>Servings: 1</p>
                </div>
                <div class="col-md-3">
                    <h2>Ingredients</h2>
                    <p>1-2 Eggs</p>
                    <p>1 cup of cooked rice</p>
                    <p>2 tsp of salt and pepper</p>
                    <p>(Optional) Ketchup and mayo</p>
                </div>
                <div class="col-md-3">
                    <h2>Instructions</h2>
                    <p>This is a very simple and adjustable recipe. Simply make any rice of your choice, and fry an egg
                        After the egg is cooked, mash it with the rice and add ketchup and mayo. Then enjoy your mixed rice!
                    </p>
                </div>
            </div>
            <div class="row row-recipes row-space">
                <div class="col-md-3"><img src="~/Images/grilled_cheese_recipes.jpeg" width="300px"/></div>
                <div class="col-md-3">
                    <h2>Grilled Cheese</h2>
                    <p>Region: North America</p>
                    <p>Cooking time: 15 minutes</p>
                    <p>Appliance(s): Stove</p>
                    <p>Servings: 1</p>
                </div>
                <div class="col-md-3">
                    <h2>Ingredients</h2>
                    <p>2 slices of bread</p>
                    <p>1 tbs of butter/margrine</p>
                    <p> 1/2 cup of any type of cheese</p>
                </div>
                <div class="col-md-3">
                    <h2>Instructions</h2>
                    <p>Spread the butter/margrine over both sides of each slice of bread. Then place on a pan and toast light brown.
                        Now place cheese on one slide of bread and place the other slide ontop of the cheese. Keep flipping
                        to avoid burning and until the cheese melts.
                    </p>
                </div>
            </div>
            <div class="row row-recipes row-space">
                <div class="col-md-3"><img src="~/Images/french_toast_recipes.jpeg" width="300px"/></div>
                <div class="col-md-3">
                    <h2>French Toast</h2>
                    <p>Region: North America</p>
                    <p>Cooking time: 15 minutes</p>
                    <p>Appliance(s): Stove</p>
                    <p>Servings: 1</p>
                </div>
                <div class="col-md-3">
                    <h2>Ingredients</h2>
                    <p>2 eggs</p>
                    <p>1/2 cup of milk</p>
                    <p>2 slices of bread</p>
                    <p>1bs of butter/margrine</p>
                    <p>(Optional) Sugar</p>
                </div>
                <div class="col-md-3">
                    <h2>Instructions</h2>
                    <p>
                        Beat the eggs and milk together, then heat up the pan and put the butter on the pan. 
                        Soak the bread into the egg and milk mixure, and start placing it on
                        the pan. Flip when the side is golden brown.
                    </p>
                </div>
            </div>
    </div>
</body>
