
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-slate.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapOverwrite.css" />
</head>

<body>

    <h1>About US!</h1>

    <p class="aboutParagraph">
        Moving to a new place, meeting new people, exploring fun new things-
        college always seems so jam-packed with fun. However, upon moving in to your new campus,
        reality strikes. Where do you go to buy groceries? What do you cook? Where can you find healthcare,
        or where do you go when you need to deal with governmental issues? Why is my school’s website
        so difficult to navigate?  If you’re like us, the move to a new place brings along a lot of
        uncessecary stress that we’re here to resolve. Here, we compiled all the necessary resources
        you need to make your life a lot simpler.
    </p>

    <img id="imgAbout" src="~/Images/Students_about_page.png" />

</body>