@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-slate.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapOverwrite.css" />
</head>

<body>
    <!--
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
        -->
    <section class="container1Index">

        <div id="title">
            <h1 class="display-4 indexTitle">
                Making life for new college students,<br /> easier
            </h1>
        </div>



        <div id="introParaSec">

            <div class="card text-white bg-secondary mb-3">

                <!--<div class="card-header">Header</div>-->
                <div class="card-body">
                    <!--<h4 class="card-title">Secondary card title</h4>-->
                    <p id="introPara" class="card-text">
                        Moving to a new place can be difficult, especially if its
                        your first time out of the house. (OURNAME) is here to help you,
                        from finding easy recipies and specific groceries, to  local
                        resources, to what your college provides you with.
                    </p>
                </div>
            </div>
        </div>


        <div id="introBtns" class="d-grid gap-2">

            <a class="btn btn-lg btn-primary initial-button" asp-area="" asp-controller="saveOnFood" asp-action="saveOnFood">Save on Food</a>
            <a class="btn btn-lg btn-primary initial-button" asp-area="" asp-controller="Resources" asp-action="Index">Resources in your Area</a>
            <button class="btn btn-lg btn-primary initial-button" type="button">What does your college offer you</button>

        </div>


    </section>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</body>
