@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<body class="schlSrchBody"> 
    <div class="container">
        <div class="titles">
            <h1 class="text-center">Did you know your college might provide more resources avaliable than you thought? </h1>
            <h1 class="text-center">Search for your school and find out what they provide!</h1>
        </div>

        <div class="row">
          <a class="col-sm-6 mt-3" asp-action="HealthCarePlanDomestic">
              <div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-text text-center">HEALTHCARE PLANS (DOMESTIC)</h5>
                  </div>
                </div>
              </div>
          </a >
          <a class="col-sm-6 mt-3"  asp-action="HealthCarePlanInternational">
              <div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-text text-center">HEALTHCARE PLANS (INTERNATIONAL)</h5>
                  </div>
                </div>
              </div>
          </a >
          <a class="col-sm-6 mt-3" href="https://www.dineoncampus.ca/sheridan/food%20service%20locations/dining-map">
              <div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-text text-center">ON-CAMPUS VENDORS</h5>
                  </div>
                </div>
              </div>
          </a >
          <a class="col-sm-6 mt-3" href="https://www.sheridancollege.ca/student-life/student-services">
              <div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-text text-center">ON-CAMPUS RESOURCES</h5>
                  </div>
                </div>
              </div>
          </a >
          <a class="col-sm-12 mt-3" asp-action="AcademicCalendar">
              <div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-text">ACADEMIC CALENDAR</h5>
                  </div>
                </div>
              </div>
          </a >
    </div>
    </div>
</body>