@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-slate.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapOverwrite.css" />
</head>

<body class="schlSrchBody">



    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEXAicXmUDJWdfYbm-8_AS3Snt9ta2FUY&callback=initMap&v=weekly"
      async
    ></script>


</body>